.formContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.required {
  color: var(--color-primary);
}

.select {
  height: 30px;
}


.error {
  font-size: var(--font-size-xs);
  color: var(--color-primary);
  margin-top: 4px;
}
