.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--color-background);
}

.sidebarWrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-card-bg);
    border-right: 1px solid var(--color-neutral-very-light);
}

.logoContainer {
    padding: var(--spacing-lg) var(--spacing-xl);
    border-bottom: 1px solid var(--color-neutral-very-light);
    justify-content: center;
    align-content: center;
}

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.content {
    flex: 1;
    padding: var(--spacing-lg) var(--spacing-xl);
    overflow-y: auto;
}
