.inputField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.input {
  border-radius: 20px;
  padding: 5px;
  width: 250px;
}
